<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title" style="
                    font-weight: 300;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin-right: 30px;"><strong>SAS Enterprises</strong></h1>
                    
                </div>
            </div>
        </div><br>
        <center>
        <div  >
            <a href="/tickets/dashboard" class="btn btn-danger" style="justify-content: center;margin-top: 15px;"><h2>Raise Tickets</h2></a>
        </div>
    </center>
    </div>
</div>
